.explosion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  min-width: 1023px;
  min-height: 600px;
  z-index: 999;
  color: black;
  opacity: 0;
  &_Opened {
    display: block;
  }
  &_Opening {
    display: block;
  }
  &Controls {
    display: flex;
    flex-direction: column;
    width: 3rem;
    position: absolute;
    top: 0;
    z-index: 10;
    justify-content: center;
    right: 22%;
    height: 400px;
  }
  &Close {
    position: absolute;
    top: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background: none;
    background-image: url('/libs/explosion/images/close.svg');
  }
  &Navs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &Nav {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid black;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
    text-align: center;
    }
}